<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401918120039-kff7a97lbja1ddljuod3u31i0nif78e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401918120039-kff7a97lbja1ddljuod3u31i0nif78e2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401918120039-l1fl7ultmc0qs2s3aoreq3ek0i9e7bed.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjNpGU84PfBOvAls36EZMpncen8N-1078</string>
	<key>GCM_SENDER_ID</key>
	<string>401918120039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindrena.mindrena</string>
	<key>PROJECT_ID</key>
	<string>xstore-faa86</string>
	<key>STORAGE_BUCKET</key>
	<string>xstore-faa86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401918120039:ios:62e8cbfd3abd124ca584c2</string>
</dict>
</plist>